body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 80px;
}

.banner {
  background-image: url('assets/portada1.jpg');
  height: 300px;
  background-size: cover;
  padding: 20px;
}

.play-btn {
  font-size: 50px;
  background: orange;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.card img {
  width: 120px;
  border-radius: 10px;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
